
.slider_cotent img{
    width: 702px;
    height: 282px;
}
/* .slider-btn{
    padding: 28px 68px !important;
} */

.change-icon-arrow{
    height: 35px;
    width: 35px;
    background-color: #5a5a59;
    border-radius:100%;
    background-size: 50% 50%;
}
.trending_content_product img{
    width: 100%;
    height: 223px;
}
.product_description{
    color: #999;
    max-height: 36px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 18px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
}
.product_review i{
    color: #ffc315;
    font-size: 14px;
}
.wraptrending{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}


/* trending slider css start here */
.product_strike{
    text-decoration: line-through;
    color: #ccc;
    margin-right: 5px;
}
.product_prize p{
    font-size: 13px;
}
.product_review{
    margin: 8px 0px;
}
.prizeoff_btn{
    border: 1px solid #ccc;
    background: #fff;   
    font-size: 10px;
    color: #999;
    padding: 5px;
    border-radius: 1px;
    margin-top: -4px;
    margin-left: 10px; 
    height: 25px;
    
}
.trending_content_product_box{
    width: 100%;
    height: 100%;
    border: solid 0.9px transparent;
    padding: 20px;
}
.trending_content_product_box:hover{
    z-index: 50;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 7px 17px 0 rgb(23 84 116 / 18%);
    border: solid 0.9px #f3f3f3;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.owl-slider{
    position: relative;
}
.owl-nav .owl-next, .owl-prev{
    position: absolute;
    top: 163px;
    background-color:#fff;
    font-size: 30px !important;
    border-radius: 100% !important;
    height: 56px !important;
    width: 56px !important;
    color: #f3f3f3;
    box-shadow :0 1px 2px 0 rgb(0 0 0 / 10%);
    border:solid 0.5px #e5e5e5;
}
.owl-theme .owl-nav .owl-prev:hover{
    background :#333;
    border : solid 0.5px #333;
}
.owl-theme .owl-nav .owl-next:hover{
    background :#333;
    border : solid 0.5px #333;
}
.owl-next {
    right: 0;
}
.owl-prev {
    left: 0;
    
}
.trending_content_product_box img{
    object-fit: contain;
}
/* rightbar sign in css */

.signin-right i{
    font-size: 50px;
    color:#ffd611;
    text-align: center;
    margin: 34px 0px;
    margin: 14px 0px;
}
.signin-right{
    width: 100%;
    border: solid 0.9px #e5e5e5;
    border-radius: 3px;
}
.dashpincode{
    height: 2px;
    background-color: #eaeaea;
    width: 19px;
    margin: 11px auto;
}
.contentsign_rightbar .delpin{
    text-align: center;
    color: #999999;
    font-size: 10px;
}
.right-signinbar .pincodecheck{
    text-align: center;
    font-size: 11px;
    color: #5a5a59;
    line-height: 1.59;
}
.right-signinbar{
    min-height: 329px;
}
.pincodeinput{
    margin-top: 10px;
    margin-bottom: 20px;
}
.snapdel_submit .snap_submit{
    border-color: #333;
    background-color: #333;
    font-size: 12px;
    color: #fff;
    padding: 10px 54px;
    border-radius: 3px;
    margin: 4px 10px 12px 10px;
}


.snap_next {
    background: #f4f4f4;
    color: #999;
    border-radius: 3px;
    font-size: 12px;
    margin: 4px 12px 12px 0px;
    padding: 6px 26px;
    border: none;
}


