#top-hook{
    background-color: #c7003d;
    border-radius: 2px;
    height: 30px;
    display: inline;
    padding-top: 0.2rem;
    justify-content: center;
    padding-bottom: 2px;
}
::-webkit-input-placeholder {
    font-size: 13px;
    color: #999;
    border: none;
    height: 37.5px;
}
#top-hook span{
    font-size: 12px;
    padding-top: 0px;
    text-transform: capitalize;
    float: left;
    margin-left: 5%;

}
#right-links{
    margin-right: 3%;
    display:flex;
    
}
#top-hook-links{
    margin-right: 20px;
    display:inline-block;
    font-style: #ffff;
    
}
#right-links a:link{
    display: inline-block;
    font-style: #ffff;
    text-decoration: none;
}
#cart a:link{
    height:37px;
    font-style: #ffff;
}
#navbar{
    background-color:  #e40046;
    display: flex;
    float: left;
}
#logo-img{
     height:40px;
     width:150px;
     margin-left:4%;
     margin-top:10px;
     margin-bottom: 10px;
     margin-right: 5%;
}
#search-button{
    margin-left:-5px;
    background-color: #333;
    border:none;
    height: 37px;
}
.sd-icon-under-search-category{
    content: "/f227";
}
#search-bar{
    background-color : rgba(244,244,244);
    border-right: none;
    border: none;
    font-size: 14px;
    height: 37px;
    padding: 0 10px 0 32px;
    outline:none;
    text-overflow: ellipsis;
    border-radius: 2px 0px 0px 2px;
    margin-left: 10%;
    margin: 0px;
    width:60%;
    margin-top:20px;

}

#cart img{
    height: 25px;
    margin-left: 7px;
} 
#cart{
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 8px;
    font-size: 17px;
    text-align: center;
    padding-top: 15px;

}
#user-icon{
    float: right;
    margin-right:7%;
    height: 37px;
    color: #fff;
    padding-top: 25px;
    margin-left: 5px;
    
}
#user-icon img{
    height: 30px;
    padding-top: 5px;
}
.top-head{
    padding: 0px;
}
#sign-in{
    margin-right: 3px;
}
#trending-categories{
    list-style: none;
    font-size: 28px;
    line-height: 39px;
    font-style: #666666;
}
#main-body{

    margin-top: 0px;
    margin-bottom: 20px;
    background-color:#f5f5f5;

}
#sidenav{
    background-color: white;
    margin-left: 50px;
    margin-right: 20px;
    overflow: hidden;
    box-shadow: 4px 3px 8px 1px gainsboro;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 12px;
    color: #666666;
    margin-top: 20px;
}
body{
    background-color: #f0f0f0;
    display:inline-block
}
#sidenav p ul{
    text-align: left;
}
#side-logo-img{
    height: 28px;
    width: 28px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 50%;
    margin-right: 4px;
}
#trending-searches-side{
    height: 22px;
    width: 22px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
}
#mens-sub-categories{
    font-style: #666666;
    font-size: 12px;
    margin-left: -30px;
    width: 60%;
    line-height: 20px;
    z-index: 1000;
    height:400px;
    overflow-y:auto;

} 
#womens-sub-categories{
    font-style: #666666;
    font-size: 12px;
    margin-left: -30px;
    width: 60%;
    line-height: 20px;
    z-index: 1000;
    height:400px;
    overflow-y:auto;

} 
#kids-sub-categories{
    font-style: #666666;
    font-size: 12px;
    margin-left: -30px;
    width: 60%;
    line-height: 20px;
    z-index: 1000;
    height:400px;
    overflow-y:auto;

} 
#home-sub-categories{
    font-style: #666666;
    font-size: 12px;
    margin-left: -30px;
    width: 60%;
    line-height: 20px;
    z-index: 1000;
    height:400px;
    overflow-y:auto;

} 
#health-sub-categories{
    font-style: #666666;
    font-size: 12px;
    margin-left: -30px;
    width: 60%;
    line-height: 20px;
    z-index: 1000;
    height:400px;
    overflow-y:auto;

} 

#middle-div-categories{
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}
#bottom-border-ul{
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}
.hoverfunc{
    border-left: 4px solid red;
    background-color: whitesmoke;

}
.drpdn-menu{
    display: none;
    background-color: #f5f5f5;

}
